{
    "openapi": "3.0.0",
    "info": {
        "title": "NET2GRID Customer Engagement API",
        "description": "This is the B2C NET2GRID API that can be used by mobile and web apps to manage the accounts and the data that are provided by the NET2GRID Meter Data Analytics Platform.",
        "version": "13.63.0"
    },
    "servers": [
        {
            "url": "https://api.n2g-ynni.net",
            "description": "API server"
        }
    ],
    "paths": {
        "/v2/appliances/categories/mapping": {
            "get": {
                "tags": [
                    "Installation Profile"
                ],
                "summary": "/appliances/categories/mapping",
                "description": "Returns the categories of appliance types mapping.",
                "operationId": "v2getApplianceCategoriesMapping",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetAppliancesMappingResponseDTO"
                                },
                                "examples": {
                                    "GetAppliancesCategoriesMappingExample": {
                                        "$ref": "#/components/examples/GetAppliancesCategoriesMappingExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/appliances/definitions": {
            "get": {
                "tags": [
                    "Installation Profile"
                ],
                "summary": "/appliances/definitions",
                "description": "Returns information about each appliance that is supported by the platform.",
                "operationId": "v2getApplianceDefinitions",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "status": {
                                            "description": "The status of the call, “ok” if it was successful, “error” if it went wrong.",
                                            "type": "string"
                                        },
                                        "data": {
                                            "description": "The data of the response.Contains the list of all appliance objects that\n                            are supported in the platform along with their relevant information.",
                                            "properties": {
                                                "applianceCode": {
                                                    "description": "The unique code that represents a specific appliance.",
                                                    "properties": {
                                                        "description": {
                                                            "description": "The description of this appliance as it can be shown\n                                   in an end customer (used in export files)",
                                                            "type": "string"
                                                        },
                                                        "identifier": {
                                                            "description": "The identifier of the appliance\n                                   (used mostly for internal communication within services in NET2GRID platform).",
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "applianceObject": {
                                                    "description": "The object that contains all relevant information about an appliance.\n                                           It can contain the fields: “description”, “identifier”, “attributes”",
                                                    "properties": {
                                                        "description": {
                                                            "description": "The description of this appliance as it can be shown in an end customer\n                                   (used in export files).",
                                                            "type": "string"
                                                        },
                                                        "identifier": {
                                                            "description": "The identifier of the appliance\n                                   (used mostly for internal communication within services in NET2GRID platform).",
                                                            "type": "string"
                                                        },
                                                        "attributes": {
                                                            "description": "An array of metadata attributes objects that can be set via\n                                   the `Post profile attributes` call.\n                                   The array may be empty if no metadata is supported for a device.\n                                   Each object can contain fields “attributeName” and “allowedValues”.",
                                                            "type": "array",
                                                            "items": {
                                                                "properties": {
                                                                    "attributeName": {
                                                                        "description": "The attribute name that can be used\n                                                  as metadata attribute. The usually supported names\n                                                  are: “description”, “applianceAge”, “applianceType”,\n                                                  “applianceVolume” and “brand”.",
                                                                        "type": "string"
                                                                    },
                                                                    "allowedValues": {
                                                                        "description": " This is a list of allowed values in cases where\n                                                    there should be a constraint in the values that can be setup for a\n                                                    metadata attribute field via `Post profile attributes` call.",
                                                                        "type": "object",
                                                                        "nullable": true,
                                                                        "additionalProperties": {}
                                                                    }
                                                                },
                                                                "type": "object"
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object",
                                            "additionalProperties": {}
                                        }
                                    },
                                    "type": "object"
                                },
                                "examples": {
                                    "GetAppliancesDefinitionsExample": {
                                        "$ref": "#/components/examples/GetAppliancesDefinitionsExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>265: Analytics Portal Service Generic Exception<br/>666: Not authorized exception<br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/smartbridge/authentication/settings": {
            "post": {
                "tags": [
                    "Device Management"
                ],
                "summary": "/smartbridge/authentication/settings",
                "description": "Enable/disable the API key authentication on the Local API from the application.",
                "operationId": "v2/postAuthSettingsConfig",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostAuthSettingsConfigDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkResponseDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>\n                    152: User does not have a valid household object.<br/>\n                    153: No valid meter found for user.<br/>\n                    406: Gateway service generic exception.<br/>\n                    422: Invalid input: Missing attributes.<br/>\n                    425: Disabled API call.<br/>\n                    999: Unspecified error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/bill/{energyType}/prediction": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/bill/{energyType}/prediction",
                "description": "Returns the bill prediction for the user.",
                "operationId": "v2getBillPrediction",
                "parameters": [
                    {
                        "name": "energyType",
                        "in": "path",
                        "description": "The type of energy for which the call is performed.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "electricity",
                                "gas",
                                "amr_electricity",
                                "amr_gas"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillPredictionResponseDTO"
                                },
                                "examples": {
                                    "GetBillPredictionExample": {
                                        "$ref": "#/components/examples/GetBillPredictionExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>153: No valid meter found for user.\n                <br/>256: Unable to calculate bill prediction for 'user' of type ELECTRICITY and channel HOME_AREA_NETWORK\n                <br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/{energyType}/bill/prediction": {
            "get": {
                "tags": [
                    "Deprecated"
                ],
                "summary": "/{energyType}/bill/prediction",
                "description": "Returns the bill prediction for the user.",
                "operationId": "v2getBillPredictionDeprecated",
                "parameters": [
                    {
                        "name": "energyType",
                        "in": "path",
                        "description": "The type of energy for which the call is performed.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "electricity",
                                "gas",
                                "amr_electricity",
                                "amr_gas"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BillPredictionResponseDTO"
                                },
                                "examples": {
                                    "GetBillPredictionExample": {
                                        "$ref": "#/components/examples/GetBillPredictionExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>153: No valid meter found for user.\n                  <br/>256: Unable to calculate bill prediction for 'user' of type {energyType} and channel HOME_AREA_NETWORK\n                  <br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/capacity-peak/electricity/mains/{year}/{month}": {
            "get": {
                "tags": [
                    "Energy Measurements"
                ],
                "summary": "/capacity-peak/electricity/mains/{year}/{month}",
                "description": "Returns the capacity peak value of the requested month, the date and the interval in which the peak happened. The capacity peak value is in kW. The monthly capacity peak is available only for months that have ended or for the current month.",
                "operationId": "v2/getMonthlyCapacityPeak",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which the capacity peak is requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "The month for which the capacity peak is requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetCapacityPeakResponseDTO"
                                },
                                "examples": {
                                    "GetCapacityPeakExample": {
                                        "$ref": "#/components/examples/GetCapacityPeakExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>152: User does not have a valid household object.<br/>153: No valid meter found for user.<br/>185: Labelpartner not specified for household.<br/>422: Future months are not allowed.<br/>426: Invalid month/year provided.<br/>433: There are no available measurements to perform calculation.<br/>999: Unable to read monthly capacity peak.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/capacitypeaks/config": {
            "get": {
                "tags": [
                    "Edge Analytics and Alerts"
                ],
                "summary": "/capacitypeaks/config",
                "description": "Returns the capacity peaks configuration that is used for alerting the user when exceeded.\n    It is required that:<br/>\n    1) the capacity peaks functionality has been enabled for the platform or labelpartner of the user<br/>\n    2) a NET2GRID device is connected to the user’s account and the device is online<br/>\n    Note: The hardware device may not be able to update immediately.\n    It can take a few seconds until changes are visible by this call.",
                "operationId": "v2/getCapacityPeakConfig",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CapacityPeaksConfigResponseDTO"
                                },
                                "examples": {
                                    "GetCapacityPeaksConfigExample": {
                                        "$ref": "#/components/examples/GetCapacityPeaksConfigExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>\n    110: Unable to get capacity peak threshold because gateway is offline and cached value duration expired.<br/>\n    116: Firmware Version is not updated to support setting capacity peak thresholds.<br/>\n    152: User does not have a valid household object.<br/>\n    153: No valid meter found for user.<br/>\n    425: Capacity Peaks Alerts are disabled.<br/>\n    999: Unable to read monthly capacity peak.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "put": {
                "tags": [
                    "Edge Analytics and Alerts"
                ],
                "summary": "/capacitypeaks/config",
                "description": "Sets capacity peaks thresholds to alert the end user when exceeded.<br/>\n    To succesfully set the capacity peaks configuration, it is required that:<br/>\n    1) the capacity peaks functionality has been enabled for the platform or labelpartner of the user <br/>\n    2) a NET2GRID device is connected to the user’s account and the device is online<br/>\n    This API call has a cooldown period of 30 seconds before the user is able to execute it again.<br/>\n    Note: The hardware device may not be able to store the value immediately.\n    It can take a few seconds until the new capacity peaks configuration is visible.",
                "operationId": "v2/putCapacityPeakConfig",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SetCapacityPeaksConfigDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkResponseDTO"
                                },
                                "examples": {
                                    "OkResponse": {
                                        "$ref": "#/components/examples/OkResponse"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>\n    117: Gateway is processing the last configuration. Please try again in a few seconds.<br/>\n    152: User does not have a valid household object.<br/>\n    153: No valid meter found for user.<br/>\n    422: Invalid input: Missing attributes.<br/>\n    425: Capacity Peaks Alerts are disabled.<br/>\n    999: Unspecified error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/configuration/dashboard": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/configuration/dashboard",
                "description": "Returns the stored dashboard configuration of the current user.",
                "operationId": "v2getDashboardConfiguration",
                "responses": {
                    "200": {
                        "description": "The stored dashboard configuration of the current user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "example_name": {
                                            "type": "string",
                                            "example": "Resource Name"
                                        },
                                        "example_description": {
                                            "type": "string",
                                            "example": "Resource Description"
                                        },
                                        "example_value": {
                                            "type": "number",
                                            "example": 42
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/v2/configuration/dashboard",
                "description": "Update the dashboard configuration that is stored in the database for a specific user.",
                "operationId": "v2postConfigurationDashboard",
                "requestBody": {
                    "description": "Dashboard configuration information in JSON format",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "example_name": {
                                        "type": "string",
                                        "example": "Resource Name"
                                    },
                                    "example_description": {
                                        "type": "string",
                                        "example": "Resource Description"
                                    },
                                    "example_value": {
                                        "type": "number",
                                        "example": 42
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkResponseDTO"
                                },
                                "examples": {
                                    "OkResponse": {
                                        "$ref": "#/components/examples/OkResponse"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request\n                              <br/>422:Invalid json format.\n                              <br/>422:Missing attributes (config).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/configuration": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/configuration",
                "description": "Returns the stored dashboard configuration of the current user.",
                "operationId": "v2getConfiguration",
                "responses": {
                    "200": {
                        "description": "The stored dashboard configuration of the current user.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "example_name": {
                                            "type": "string",
                                            "example": "Resource Name"
                                        },
                                        "example_description": {
                                            "type": "string",
                                            "example": "Resource Description"
                                        },
                                        "example_value": {
                                            "type": "number",
                                            "example": 42
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/v2/configuration",
                "description": "Update the dashboard configuration that is stored in the database for a specific user.",
                "operationId": "v2postConfiguration",
                "requestBody": {
                    "description": "Dashboard configuration information in JSON format",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "example_name": {
                                        "type": "string",
                                        "example": "Resource Name"
                                    },
                                    "example_description": {
                                        "type": "string",
                                        "example": "Resource Description"
                                    },
                                    "example_value": {
                                        "type": "number",
                                        "example": 42
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkResponseDTO"
                                },
                                "examples": {
                                    "OkResponse": {
                                        "$ref": "#/components/examples/OkResponse"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request\n                             <br/>422:Invalid json format.\n                             <br/>422:Missing attributes (config).",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/consumption/{energyType}/daily": {
            "get": {
                "tags": [
                    "Deprecated"
                ],
                "summary": "/consumption/{energyType}/daily",
                "description": "Returns the users’ total energy used (in Whs) and its cost from the start of the current day.",
                "operationId": "v2getDailyConsumption",
                "parameters": [
                    {
                        "name": "energyType",
                        "in": "path",
                        "description": "The energy type for which the day's consumption is requested.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "electricity",
                                "amr_electricity",
                                "gas",
                                "amr_gas"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DailyConsumptionResponseDTO"
                                },
                                "examples": {
                                    "GetDailyConsumptionExample": {
                                        "$ref": "#/components/examples/GetDailyConsumptionExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Request <br/>152: User does not have a valid household object.<br/>153: No valid meter found for user.<br/>422: Invalid energy type.<br/>426: Invalid Date format.<br/>429: No data available.<br/>999: Unspecified error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/consumption/{energyType}/compare/{periodType}": {
            "get": {
                "tags": [
                    "Deprecated"
                ],
                "summary": "/consumption/{energyType}/compare/{periodType}",
                "description": "Compares the consumption of the current and previous month.",
                "operationId": "v2getCompareConsumptionPeriod",
                "parameters": [
                    {
                        "name": "energyType",
                        "in": "path",
                        "description": "The energy type for which the comparison is requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "periodType",
                        "in": "path",
                        "description": "The type of period for which the comparison is requested (month).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsumptionCompareResponseDTO"
                                },
                                "examples": {
                                    "GetConsumptionCompareExample": {
                                        "$ref": "#/components/examples/GetConsumptionCompareExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<br/>152: User does not have a valid household object. <br/>153: No valid meter found for user. <br/>422: Invalid energy type. <br/>426: Invalid Date format. <br/>429: No data available.<br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/energy-measurements/{metricType}/{feedType}/{interval}/{startDate}/{endDate}": {
            "get": {
                "tags": [
                    "Energy Measurements"
                ],
                "summary": "/energy-measurements/{metricType}/{feedType}/{interval}/{startDate}/{endDate}",
                "description": "Returns the energy measurements of the provided metric in the provided interval for the period between the start and end date provided.",
                "operationId": "v2getEnergyMeasurementsDaysHours",
                "parameters": [
                    {
                        "name": "metricType",
                        "in": "path",
                        "description": "The metric for which the energy measurements will be returned.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "electricity-offtake",
                                "electricity-feedin",
                                "gas",
                                "electricity-offtake-tier-1",
                                "electricity-offtake-tier-2",
                                "electricity-feedin-tier-1",
                                "electricity-feedin-tier-2"
                            ]
                        }
                    },
                    {
                        "name": "feedType",
                        "in": "path",
                        "description": "The feed type for which the energy measurements will be returned.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "real-time",
                                "smart-meter"
                            ]
                        }
                    },
                    {
                        "name": "interval",
                        "in": "path",
                        "description": "The interval for which the energy measurements will be returned.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "quarter-hours",
                                "hours",
                                "days"
                            ]
                        }
                    },
                    {
                        "name": "startDate",
                        "in": "path",
                        "description": "The start date from which the energy measurements will be returned in YYYY-MM-DD format. The returned results will be in the timezone of the end-user.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endDate",
                        "in": "path",
                        "description": "The end date until which the energy measurements will be returned in YYYY-MM-DD format. The returned results will be in the timezone of the end-user and will contain all measurements until the end of that day.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEnergyMeasurementResponseDTO"
                                },
                                "examples": {
                                    "GetEnergyMeasurementDaysExample": {
                                        "$ref": "#/components/examples/GetEnergyMeasurementDaysExample"
                                    },
                                    "GetEnergyMeasurementWithMissingDataExample": {
                                        "$ref": "#/components/examples/GetEnergyMeasurementWithMissingDataExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<br/>142: Invalid interval. <br/>152: User does not have a valid household object. <br/>153: No valid meter found for user. <br/>422: Invalid energy type. <br/>426: Invalid Date format. <br/>429: No data available.<br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/energy-measurements/{metricType}/{feedType}/weeks/{year}/{quarter}": {
            "get": {
                "tags": [
                    "Energy Measurements"
                ],
                "summary": "/energy-measurements/{metricType}/{feedType}/weeks/{year}/{quarter}",
                "description": "Returns the energy measurements of the provided metric in weekly elements over the provided quarter.",
                "operationId": "v2getEnergyMeasurementsWeeks",
                "parameters": [
                    {
                        "name": "metricType",
                        "in": "path",
                        "description": "The metric for which the energy measurements will be returned.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "electricity-offtake",
                                "electricity-feedin",
                                "gas",
                                "electricity-offtake-tier-1",
                                "electricity-offtake-tier-2",
                                "electricity-feedin-tier-1",
                                "electricity-feedin-tier-2"
                            ]
                        }
                    },
                    {
                        "name": "feedType",
                        "in": "path",
                        "description": "The feed type for which the energy measurements will be returned.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "real-time",
                                "smart-meter"
                            ]
                        }
                    },
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year from which the energy measurements will be returned in YYYY format. The returned results will be in the timezone of the end-user.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "quarter",
                        "in": "path",
                        "description": "The quarter for which the energy measurements will be returned. The returned results will be in the timezone of the end-user and will contain all measurements until the end of that day of the provided quarter.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "enum": [
                                1,
                                2,
                                3,
                                4
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEnergyMeasurementResponseDTO"
                                },
                                "examples": {
                                    "GetEnergyMeasurementDaysExample": {
                                        "$ref": "#/components/examples/GetEnergyMeasurementDaysExample"
                                    },
                                    "GetEnergyMeasurementWithMissingDataExample": {
                                        "$ref": "#/components/examples/GetEnergyMeasurementWithMissingDataExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<br/>142: Invalid interval. <br/>152: User does not have a valid household object. <br/>153: No valid meter found for user. <br/>422: Invalid energy type. <br/>426: Invalid Date format. <br/>429: No data available.<br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/energy-measurements/{metricType}/{feedType}/months/{startMonth}/{endMonth}": {
            "get": {
                "tags": [
                    "Energy Measurements"
                ],
                "summary": "/energy-measurements/{metricType}/{feedType}/months/{startMonth}/{endMonth}",
                "description": "Returns the energy measurements of the provided metric for every month between the start date and end date provided.",
                "operationId": "v2getEnergyMeasurementsMonths",
                "parameters": [
                    {
                        "name": "metricType",
                        "in": "path",
                        "description": "The metric for which the energy measurements will be returned.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "electricity-offtake",
                                "electricity-feedin",
                                "gas",
                                "electricity-offtake-tier-1",
                                "electricity-offtake-tier-2",
                                "electricity-feedin-tier-1",
                                "electricity-feedin-tier-2"
                            ]
                        }
                    },
                    {
                        "name": "feedType",
                        "in": "path",
                        "description": "The feed type for which the energy measurements will be returned.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "real-time",
                                "smart-meter"
                            ]
                        }
                    },
                    {
                        "name": "startMonth",
                        "in": "path",
                        "description": "The start month from which the energy measurements will be returned in YYYY-MM format. The returned results will be in the timezone of the end-user.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "endMonth",
                        "in": "path",
                        "description": "The end month until which the energy measurements will be returned in YYYY-MM format. The returned results will be in the timezone of the end-user and will contain all measurements until the end of that day.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetEnergyMeasurementResponseDTO"
                                },
                                "examples": {
                                    "GetEnergyMeasurementMonthsExample": {
                                        "$ref": "#/components/examples/GetEnergyMeasurementMonthsExample"
                                    },
                                    "GetEnergyMeasurementWithMissingDataExample": {
                                        "$ref": "#/components/examples/GetEnergyMeasurementWithMissingDataExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<br/>142: Invalid interval. <br/>152: User does not have a valid household object. <br/>153: No valid meter found for user. <br/>422: Invalid energy type. <br/>426: Invalid Date format. <br/>429: No data available.<br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/consumption/{energyType}/appliances/{periodType}/{periodValue1}/{periodValue2}": {
            "get": {
                "tags": [
                    "NILM - Disaggregation"
                ],
                "summary": "/consumption/{energyType}/appliances/{periodType}/{periodValue1}/{periodValue2}",
                "description": "Returns the estimated breakdown of the energy used per hour by appliance category.",
                "operationId": "v2getConsumptionAppliances",
                "parameters": [
                    {
                        "name": "energyType",
                        "in": "path",
                        "description": "The type of energy.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "electricity",
                                "amr_electricity"
                            ]
                        }
                    },
                    {
                        "name": "periodType",
                        "in": "path",
                        "description": "The type of time scale.",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "hours",
                                "days",
                                "weeks",
                                "months"
                            ]
                        }
                    },
                    {
                        "name": "periodValue1",
                        "in": "path",
                        "description": "The start date of the data according to the following formats, in case of months: YYYY-MM, in case of weeks: YYYY/Q (quarter), in case of days/hours: YYYY-MM-DD-HH.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "periodValue2",
                        "in": "path",
                        "description": "The end date of the data according to the following formats, in case of months: YYYY-MM, in case of weeks: YYYY/Q (quarter), in case of days/hours: YYYY-MM-DD-HH.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsumptionAppliancesResponseDTO"
                                },
                                "examples": {
                                    "GetConsumptionAppliancesResponse": {
                                        "$ref": "#/components/examples/GetConsumptionAppliancesResponse"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "<br/>142: Invalid Interval<br/>113: Gateway not found.</br>156: User or meter validation failed.<br/>153: No valid meter found for user</br>422: Invalid Energy Type</br>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/consumption/electricity/alwayson/breakdown/{year}/{month}": {
            "get": {
                "tags": [
                    "NILM - Disaggregation"
                ],
                "summary": "/consumption/electricity/alwayson/breakdown/{year}/{month}",
                "description": "Returns an estimated breakdown of the AlwaysOn energy used for the requested month and year.",
                "operationId": "v2/getMonthlyAlwaysOnBreakdown",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which data needs to be retrieved. Accepted format is YYYY (2022).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "The month for which data needs to be retrieved. Accepted formats for month are numeric representations with 2 digits with leading zeros (08) or without leading zeros (8).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConsumptionAlwaysOnBreakdownResponseDTO"
                                },
                                "examples": {
                                    "ConsumptionAlwaysOnBreakdownExample": {
                                        "$ref": "#/components/examples/ConsumptionAlwaysOnBreakdownExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>153: No Valid Meter found for user.<br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/customer/service-type": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/customer/service-type",
                "description": "Returns the information about the service type that is applicable for the installation.",
                "operationId": "v2getCustomerServiceType",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServiceTypeDTO"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request\n                <br/>400: Smart-Bridge not found\n                <br/>400: User not provisioned\n                <br/>428: Multiple installations with different service types found\n                <br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/datahub/subscription": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/datahub/subscription",
                "description": "Returns which datahub is applicable to the installation. The datahub name returned can be used to identify if a datahub is relevant for the installation.",
                "operationId": "v2getDatahubName",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GetDatahubSubscriptionResponseDTO"
                                },
                                "examples": {
                                    "DatahubExampleRespnse": {
                                        "$ref": "#/components/examples/DatahubExampleResponse"
                                    },
                                    "NoDatahubExampleRespnse": {
                                        "$ref": "#/components/examples/NoDatahubExampleResponse"
                                    }
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Server Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/datahub/mandate": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/datahub/mandate",
                "description": "Returns the status of the user's mandate that is necessary so that NET2GRID can receive energy measurements from the datahub on behalf of the user.",
                "operationId": "v2getDataHubMandate",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MandateResponseDTO"
                                },
                                "examples": {
                                    "GetApprovedMandateWithoutRenewalStatus": {
                                        "$ref": "#/components/examples/GetApprovedMandateWithoutRenewalStatus"
                                    },
                                    "GetApprovedMandateWithRenewalStatus": {
                                        "$ref": "#/components/examples/GetApprovedMandateWithRenewalStatus"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Request\n    <br/>422: Multiple Installations are not supported\n    <br/>425: Datahub GET mandate call is disabled\n    <br/>999: Datahub Client generic error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/datahub/mandate",
                "description": "Used to request the creation of a mandate towards the Datahub API for a user.<br/>\n    In case of the Fluvius datahub, the consumer is required to provide consent in the Fluvius portal. Once completed,\n    they can be redirected to the customer's landing page using two predefined return URLs, the success and failure URLs.\n    This endpoint allows the client application to specify these success and failure URLs.<br/>\n    - If none of these URLs is provided then the Label Partner default configurations are going to be used.<br/>\n    - If no URLs are specified in this endpoint and the default URLs are not specified at the Label Partner configuration,\n    then no URLs will be sent to the datahub at all.<br/>\n    - If only one of the URLs is provided in the request, the request will return an error.<br/><br/>\n    Additionally, validation of the URLs is performed to ensure they are valid.<br/>\n    - The validation process checks whether the provided string follows the URL format but does not perform domain\n    validation.<br/>\n    - Fluvius is required to whitelist these URLs for them to be accepted from their end. If a URL is not whitelisted,\n    any request to Fluvius will fail.\n    ",
                "operationId": "v2postDataHubMandate",
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PostDatahubMandateDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MandateCreationResponseDTO"
                                },
                                "examples": {
                                    "Mandate Creation": {
                                        "$ref": "#/components/examples/PostMandateCreation"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid Request<br/>102: User already active on platform\n    <br/>425: datahub POST mandate call is disabled\n    <br/>434: Create mandate failed by Datahub\n    <br/>435: Either none or both return URLs should be provided\n    <br/>436: Invalid URL",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/debug/details-user": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/debug/details-user",
                "description": "Returns details about the user, his households and their meters.",
                "operationId": "getDebugDetailsUser",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DebugResponseDTO"
                                },
                                "examples": {
                                    "GetDebugDetailsUserExample": {
                                        "$ref": "#/components/examples/GetDebugDetailsUserExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/debug/is-admin": {
            "get": {
                "tags": [
                    "Account Status"
                ],
                "summary": "/debug/is-admin",
                "description": "Returns if the current user is an admin.",
                "operationId": "getDebugIsAdmin",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OkResponseDTO"
                                },
                                "examples": {
                                    "GetDebugAdminExample": {
                                        "$ref": "#/components/examples/GetDebugAdminExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>999: Unspecified Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/disaggregation/year/{year}/week/{week}": {
            "get": {
                "tags": [
                    "NILM - Disaggregation"
                ],
                "summary": "/disaggregation/year/{year}/week/{week}",
                "description": "Returns the disaggregation data for the requested week. Weekly disaggregation is available for\n    weeks up to (and excluding) the one we currently are in.",
                "operationId": "v2/getWeeklyDisaggregation",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which the disaggregation data are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "week",
                        "in": "path",
                        "description": "The week for which the disaggregation data are requested. It needs to be in ISO8601\n    format (Www, e.g. W15).",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisaggregationResponseDTO"
                                },
                                "examples": {
                                    "DisaggregationResponseExample": {
                                        "$ref": "#/components/examples/DisaggregationResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request\n    <br/>113: Gateway not found.\n    <br/>118: An error occurred in the cloud.\n    <br/>120: Unexpected exception while retrieving the report.\n    <br/>122: Corrupted report.\n    <br/>152: User does not have a valid household object.\n    <br/>153: No valid meter found for user.\n    <br/>170: No disaggregation available.\n    <br/>185: Labelpartner not specified for household.\n    <br/>186: Cannot find a profile for this household.\n    <br/>250: Unexpected exception while retrieving tariffs information.\n    <br/>251: No cost calculation available.\n    <br/>252: Tariff agreement not found.\n    <br/>265: Unexpected exception while retrieving customer information.\n    <br/>272: Invalid meter type.\n    <br/>274: Unit conversion not applicable.\n    <br/>400: User not provisioned.\n    <br/>422: Invalid week/year provided.\n    <br/>425: Functionality is not enabled.\n    <br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/disaggregation/forecast": {
            "get": {
                "tags": [
                    "Deprecated"
                ],
                "summary": "/disaggregation/forecast",
                "description": "Legacy call that returns the disaggregation data for the current month. This call requires that tariff and budget information have been set for the installation on the period of the requested month or earlier.",
                "operationId": "v2getDisaggregationForecast",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisaggregationForecastResponseDTO"
                                },
                                "examples": {
                                    "DisaggregationForecastResponseExample": {
                                        "$ref": "#/components/examples/DisaggregationForecastResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>113: Gateway not found.<br/>152: User does not have a valid household object.<br/>153: No valid meter found for user.<br/>170: No disaggregation available.<br/>184: Profile is incomplete<br/>185: Labelpartner not specified for household.<br/>186: Cannot find a profile for this household.<br/>250: Unexpected exception while retrieving tariffs information.<br/>251: No cost calculation available.<br/>252: Tariff agreement not found.<br/>265: Unexpected exception while retrieving customer information.<br/>272: Invalid meter type.<br/>274: Unit conversion not applicable.<br/>400: User not provisioned.<br/>422: Invalid month/year provided.<br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/disaggregation/year/{year}/month/{month}": {
            "get": {
                "tags": [
                    "NILM - Disaggregation"
                ],
                "summary": "/disaggregation/year/{year}/month/{month}",
                "description": "Returns the disaggregation data for the requested month.\n     When there is no disaggregation available for the requested month yet (for instance on the 1st day of\n     that month), an estimation based on the preceding month’s relative disaggregation distribution (if available)\n     and the requested month’s actual consumption is returned.",
                "operationId": "v2/getMonthlyDisaggregation",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which the disaggregation data are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "The month for which the disaggregation data are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisaggregationResponseDTO"
                                },
                                "examples": {
                                    "DisaggregationResponseExample": {
                                        "$ref": "#/components/examples/DisaggregationResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request\n     <br/>113: Gateway not found.\n     <br/>152: User does not have a valid household object.\n     <br/>153: No valid meter found for user.\n     <br/>170: No disaggregation available.\n     <br/>184: Profile is incomplete\n     <br/>185: Labelpartner not specified for household.\n     <br/>186: Cannot find a profile for this household.\n     <br/>250: Unexpected exception while retrieving tariffs information.\n     <br/>251: No cost calculation available.\n     <br/>252: Tariff agreement not found.\n     <br/>265: Unexpected exception while retrieving customer information.\n     <br/>272: Invalid meter type.\n     <br/>274: Unit conversion not applicable.\n     <br/>400: User not provisioned.\n     <br/>422: Invalid month/year provided.\n     <br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/disaggregation/{year}/{month}": {
            "get": {
                "tags": [
                    "Deprecated"
                ],
                "summary": "/disaggregation/{year}/{month}",
                "description": "To be deprecated, please use the disaggregation/monthly endpoint. Returns the disaggregation\n     data for the requested month. When there is no disaggregation available for the requested month yet\n     (for instance on the 1st day of that month), an estimation based on the preceding month’s relative disaggregation\n     distribution (if available) and the requested month’s actual consumption is returned.",
                "operationId": "v2/getMonthlyDisaggregation2",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which the disaggregation data are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "The month for which the disaggregation data are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisaggregationResponseDTO"
                                },
                                "examples": {
                                    "DisaggregationResponseExample": {
                                        "$ref": "#/components/examples/DisaggregationResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request\n    <br/>113: Gateway not found.\n    <br/>152: User does not have a valid household object.\n    <br/>153: No valid meter found for user.\n    <br/>170: No disaggregation available.\n    <br/>184: Profile is incomplete\n    <br/>185: Labelpartner not specified for household.\n    <br/>186: Cannot find a profile for this household.\n    <br/>250: Unexpected exception while retrieving tariffs information.\n    <br/>251: No cost calculation available.\n    <br/>252: Tariff agreement not found.\n    <br/>265: Unexpected exception while retrieving customer information.\n    <br/>272: Invalid meter type.\n    <br/>274: Unit conversion not applicable.\n    <br/>400: User not provisioned.\n    <br/>422: Invalid month/year provided.\n    <br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/disaggregation/history/{year}/{month}": {
            "get": {
                "tags": [
                    "Deprecated"
                ],
                "summary": "/disaggregation/history/{year}/{month}",
                "description": "Legacy endpoint that returns the disaggregation data for the requested month and provides additional information related to the budget that has been defined for that month. When there is no disaggregation available for the requested month yet (for instance on the 1st day of that month), an estimation based on the preceding month’s relative disaggregation distribution (if available) and the requested month’s actual consumption is returned. This call requires that tariff and budget information have been set for the installation on the period of the requested month or earlier.",
                "operationId": "v2getMonthlyDisaggregationWithBudgetForHistoricMonth",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which the disaggregation data are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "The month for which the disaggregation data are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DisaggregationHistoryResponseDTO"
                                },
                                "examples": {
                                    "DisaggregationHistoryResponseExample": {
                                        "$ref": "#/components/examples/DisaggregationHistoryResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>113: Gateway not found.<br/>152: User does not have a valid household object.<br/>153: No valid meter found for user.<br/>170: No disaggregation available.<br/>184: Profile is incomplete<br/>185: Labelpartner not specified for household.<br/>186: Cannot find a profile for this household.<br/>250: Unexpected exception while retrieving tariffs information.<br/>251: No cost calculation available.<br/>252: Tariff agreement not found.<br/>265: Unexpected exception while retrieving customer information.<br/>272: Invalid meter type.<br/>274: Unit conversion not applicable.<br/>400: User not provisioned.<br/>422: Invalid month/year provided.<br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/events/hourly/{year}/{month}/{day}/{hour}": {
            "get": {
                "tags": [
                    "NILM - Disaggregation"
                ],
                "summary": "/events/hourly/{year}/{month}/{day}/{hour}",
                "description": "Returns the appliance events of the user for the given hour.",
                "operationId": "v2getApplianceEventsForHour",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which the appliance events are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "The month for which the appliance events are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "day",
                        "in": "path",
                        "description": "The day for which the appliance events are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hour",
                        "in": "path",
                        "description": "The hour for which the appliance events are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventsHourlyResponseDTO"
                                },
                                "examples": {
                                    "EventsHourlyResponseExample": {
                                        "$ref": "#/components/examples/EventsHourlyResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid request<br/>113: Gateway not found.<br/>152: User does not have a valid household object.<br/>153: No valid meter found for user.<br/>185: Labelpartner not specified for household.<br/>186: Cannot find a profile for this household.<br/>250: Unexpected exception while retrieving tariffs information.<br/>251: No cost calculation available.<br/>252: Tariff agreement not found.<br/>265: Unexpected exception while retrieving customer information.<br/>274: Unit conversion not applicable.<br/>400: User not provisioned.<br/>422: Invalid day/month/year provided.<br/>999: Unspecified Error.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponseDTO"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/v2/events/daily/{year}/{month}/{day}": {
            "get": {
                "tags": [
                    "NILM - Disaggregation"
                ],
                "summary": "/events/daily/{year}/{month}/{day}",
                "description": "Returns the appliance events of the user for the given day.",
                "operationId": "v2getApplianceEventsForDay",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "The year for which the appliance events are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "month",
                        "in": "path",
                        "description": "The month for which the appliance events are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "day",
                        "in": "path",
                        "description": "The day for which the appliance events are requested.",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EventsDailyResponseDTO"
                                },
                                "examples": {
                                    "EventsDailyResponseExample": {
                                        "$ref": "#/components/examples/EventsDailyResponseExample"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
[...]
